body {
    min-height: 100vh; 
    display: flex;
    align-items: left;
    justify-content: center;
}

.container {
    padding: 20px;
    margin: 10px;
 }

.header-container img {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}

.body1 {
    background-color: #407BFF;
    margin: 10px;
}

.body1 h2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
}
.body1 p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 60px;
}
.code {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.body2 p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 60px;
}
.body2 img {
    width: 50px;
    height: auto;
    margin-bottom: 30px;
}

/* Footer Tetap di Bawah */
footer {
    min-height: 150px; /* Tinggi minimal */
    background-color: #000; /* Latar belakang hitam */
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative; /* Agar footer mengikuti konten */
    bottom: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}
.footer img:hover {
    transform: scale(1.2);
}
html, body {
    height: 100%;
    margin: 0;
}
