body {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.container {
    text-align: center; 
    padding: 20px;
    width: 100%; 
    max-width: 600px; 
}

.header-container img {
    width: 60px;
    height: auto;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}
.code {
    font-size: 50px;
    font-weight: bold;
    margin: center;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #000; /* Warna latar belakang hitam */
    color: white; /* Warna teks putih */
    text-align: center; /* Memusatkan teks */
    padding: 10px 0; /* Memberikan ruang di atas dan bawah footer */
    position: relative;
    width: 100%; /* Lebar footer mengikuti lebar halaman */
    bottom: 0;
}