body{
    margin: 0;
    padding: 0;
}

.header-container img {
    width: 100px;
    height: auto;
}

.header-container h1 {
    margin: 0;
    font-size: 32px;
    color: black;
}

h2, h5, h5 {
    text-align: center;
    margin: 15px 0;
    font-size: 16px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}
link {
    a {
        color: #06c;
    }
    a:hover {
        text-decoration: underline;
    }
}
